%ul{:class => 'nav nav-tabs'}
  %li.active
    %a{:href => '#comments', 'data-toggle' => 'tab'} Comments
  %li
    %a{:href => '#improvisations', 'data-toggle' => 'tab'} Improvisations

.hero-unit
  .tab-content
    %div#comments{:class => 'tab-pane fade active in'}
      = render '/comments/comments_list'
    %div#improvisations{:class => 'tab-pane fade'}
      = render 'comments/improvisations_list'
