.comments_list
	%table
		%tr
			%td
				.add_comments
					= "Add Comments"
					&nbsp;
			%td
				%textarea{:rows => "3",  :id => "textarea", :class => "input-xlarge"}
		%tr
			%td
				&nbsp;
			%td
				.button
					%a{:class => "btn btn-primary", :href => ""}
						="Post Comment"

	%br	
	.well
		= "First improvisation"

