.improvisations_list
	%table
		%tr
			%td
				.add_improvisations
					= "Add Improvements"
					&nbsp;
			%td
				%textarea{:rows => "3",  :id => "textarea", :class => "input-xlarge"}
		%tr
			%td
				&nbsp;
			%td
				.button
					%a{:class => "btn btn-primary", :href => ""}
						="Post Improvement"
						
	%br	
	.well
		= "First improvisation"

