.votes{:style => "float: right;"}
  - if !@idea.votes.voted?(current_user.to_s)
    .your-vote
      Your Vote :
      .vote-for.btn.btn-success
        .icon-thumbs-up.icon-white
        for
      .vote-against.btn.btn-danger
        .icon-thumbs-down.icon-white
        against
      = hidden_field_tag 'idea_id', @idea.id

