.votes
  %span.votes-for
    %i.icon-thumbs-up
    %span{:class => 'vote-for-count'}= idea.votes.for_votes
  &nbsp;
  %span.votes-against
    %i.icon-thumbs-down
    %span{:class => 'vote-against-count'}= idea.votes.against_votes
